node_modules/
.expo/
.expo-shared/
dist/
web-build/
ios/build/
android/build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.*.local
.DS_Store
.idea/
.vscode/
npm-debug.*
yarn-error.log
expo-env.d.ts
.eas/
